<footer class="container">
  <div class="row">
    <div class="offset-2 col-4">
      <ul class="list-unstyled">
        <li><a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a></li>
        <li><a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a></li>
        <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{{ site.linkedin_username }}</a></li>
      </ul>
    </div>
    <div class="col-4 text-right">
      <p>{{ site.description }}</p>
      <p><a href="/">{{ site.url }}</a></p>
    </div>
  </div>
</footer>
