<div id="language-selector-wrapper" class="position-sticky">
  <ul class="list-inline mx-auto mr-md-3 mt-3 text-center text-md-right language-selector">
    <li class="list-inline-item">
      <a href="/">
        <svg class="icon" xmlns:svg="http://www.w3.org/2000/svg">
          <use xlink:href="/assets/sprites/languages.svg#en"></use>
        </svg>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="/es/">
        <svg class="icon" xmlns:svg="http://www.w3.org/2000/svg">
          <use xlink:href="/assets/sprites/languages.svg#es"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
