$primary:   #5BCEFA;
$secondary: #F5A9B8;
$font-size-base: 1.25rem !default; // Assumes the browser default, typically `16px`

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$font-family-sans-serif:      "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       "Ubuntu Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

@import "bootstrap/bootstrap";

header {
  font-family: 'Press Start 2P', cursive;
}

footer {
  svg {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

article {
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    & + em {
      display: block;
      text-align: center;
    }
  }

  table {
    @extend .table;
    thead {
      @extend .thead-dark
    }
  }

  blockquote {
    @extend .blockquote;
    border-color: transparentize($secondary, 0.5) !important;
    border-left-width: 0.3rem !important;
    border-left: solid;
    margin-left: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    background-color: transparentize($secondary, 0.91) !important;
  }
}

svg.icon {
  fill: $primary;
}
