$primary:   #5BCEFA;
$secondary: #F5A9B8;
$font-size-base: 1.25rem !default; // Assumes the browser default, typically `16px`

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$font-family-sans-serif:      "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       "Ubuntu Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

@import "bootstrap/bootstrap";

header {
  font-family: 'Press Start 2P', cursive;
}

footer {
  svg {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;

    &.icon {
      fill: $primary;
      width: 100%;
    }
  }
}

article {
  img {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    & + em {
      display: block;
      text-align: center;
    }
  }

  table {
    @extend .table;
    @extend .table-dark;
  }

  blockquote {
    @extend .blockquote;
    border-color: transparentize($secondary, 0.5) !important;
    border-left-width: 0.3rem !important;
    border-left: solid;
    margin-left: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    background-color: transparentize($secondary, 0.91) !important;
  }

  a {
    text-shadow: 0.1px 0px darken($primary, 1%);
  }
}

#language-selector-wrapper {
  bottom: 3vh;

  .language-selector {
    svg {
      max-height: 3rem;
      max-width: 3rem;
      margin: 0;
      vertical-align: middle;
      &.icon {
        fill: $secondary;
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    position: relative !important;
  }
}
