---
layout: page
---

<h1 class="sr-only">Mis posts</h1>
{% for post in paginator.posts %}
<article class="row py-1">
  <div class="col">
    <h2 class="my-2"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="text-right">{{ post.date | date: "%b %d, %Y" }}</p>
    <hr class="mx-5 my-3">
    <div class="row">
    {{ post.excerpt }}
    <p class="text-right">
      <a href="{{ post.url }}" role="button" aria-pressed="true">... seguir leyendo</a>
    </p>
    </div>
    <p class="text-right">{{ post.author | default: site.author }} – {{ post.date | date: "%b %d, %Y" }}</p>
    {% if forloop.last != true %}
    <hr class="mx-5 my-3">
    {% endif %}
  </div>
</article>
{% endfor %}

{% include paginator.html %}

{{ content }}
