---
layout: page
---
<article class="row py-1" lang="{{ page.locale | default: site.lang | replace: '_', '-' }}">
  <div class="col">
    <h1 class="my-2 h2"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="text-end">{{ page.date | date: "%b %d, %Y" }}</p>

    <div class="row">
      <div class="col">
        {{ content }}
      </div>
    </div>

    <p class="text-end font-italic">– {{ post.author | default: site.author }}</p>
  </div>
  {% include comments.html %}
</article>
